.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #e3eceb;
  width: 100vw;
  height: 100vh;
}

.light-blue{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  background: rgb(134,183,254,0.85);
  border: none;
}

.light-red{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  background: #e44e5d6b;
  border: none;
}

.light-yellow{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  background: #ffc10775;
  border: none;
}

.form-check{
  display: flex;
  align-items: center;
  justify-content: center;
}